#red{
    color: red;
    font-weight: bold;
    font-size: 50px;
    padding: 0;
    margin: 0;
    width: 100%;
}

#red:hover{
    color: blue;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}